*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

body {
    color: #FFF;
    background-color: rgb(236, 234, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* 

Mobile nav bar code

*/

header {
    width: 100%;
    background: rgb(0, 147, 0);
    display: flex;
    align-items: center;
    padding: 0.75em 0;
}

.nav {
    width: 92.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#gameTitle {
    font-size: 2.25rem;
    font-weight: 300;
    /* margin-left: 0.25em; */
}

.nav-btn {
    width: 165px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    background-color:rgb(0, 147, 0);
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
}

.nav-btn:active {
    color: rgb(211, 211, 211);
    background-color:rgb(0, 105, 0);
}

/* 

    Setup the look of the poker table

*/
.table {
    width: 100%;
    height: 100%;
}

.border {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 105, 0);
}

.surface {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 2px black;
    /* Adds over image to the background */
    background-image: url('./assests/imgs/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    /* 
        TODO: Styling to give the table some texture
    */
    /* 
        Makes it so you can not select and highlight text
    */
    user-select: none;
}

/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.75fr 1.25fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "dealer-cards dealer-cards dealer-cards"
      ". middle-of-board deck"
      "player-bet middle-of-board player-money"
      "player-bet middle-of-board player-money"
      "player-cards player-cards player-cards"
      "btns btns btns";
      padding: 0.75em 0.75em 0em 0.75em;
} */

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 0.5fr 1fr 1fr 1.25fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "dealer-cards dealer-cards deck"
      "dealer-cards dealer-cards ."
      "player-bet . player-money"
      "player-bet . player-money"
      "player-cards player-cards player-cards"
      "btns btns btns"; 
      padding: 0.75em 0.75em 0em 0.75em;
}

.game-rules {
    display: none;
}

.dealer-cards {
    grid-area: dealer-cards;
}

.deck {
    grid-area: deck;
    display: flex;
    justify-content: center;
}

.player-bet {
    grid-area: player-bet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.middle-of-board {
    grid-area: middle-of-board;
}

.player-cards {
    grid-area: player-cards;
}

.player-money {
    grid-area: player-money;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Should keep all of the content closer to the player's side
       if something is added to it (e,g, more chips even though this 
       should not happen)
    */
    justify-content: center;
}

.button-area {
    grid-area: button-area;
}

.btns {
    grid-area: btns;
}

.game-btn {
    /* 
        TODO: Make the buttons uniform in size
    */
    border: 4px solid #002D00;
    background-color: rgb(0, 105, 0);
    box-shadow: inset 0px 0px 2px black;
    border-radius: 3px;
    padding: 0.75em 1.5em;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.game-btn:hover, .game-btn:active {
    color: rgb(255, 231, 169);
    background-color: rgb(0, 155, 0);
}

.game-btn:active {
    background-color: rgb(23, 170, 23);
}

.card {
    position: relative;
    width: 70px;
    height: 96px;
    background-color: white;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.250);
    border-radius: 5px;
    /*  Puts space on right of each card
        TODO: Change this to be added somewhere else
    */
    margin-right: 0.5em;
}

.card.red {
    color: #C83000;
}

.card.black {
    color: #000000;
}

.card::before, .card::after {
    position: absolute;
    content: attr(data-value);
    font-weight: 700;
    font-size: 1.25rem;
}

.card::before {
    top: 0.1125em;
    left: 0.3em;
}

.card::after {
    bottom: 0.1125em;
    right: 0.3em;
    transform: rotate(180deg);
}

.card-deck {
    position: relative;
    width: 81px;
    height: 95px;
}

.red-deck {
    background-image: url('./assests/imgs/deck_red.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.blue-deck {
    background-image: url('./assests/imgs/deck_blue.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.diamonds {
    background-image: url('./assests/imgs/suits/diamond.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.clubs {
    background-image: url('./assests/imgs/suits/club.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.hearts {
    background-image: url('./assests/imgs/suits/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.spades {
    background-image: url('./assests/imgs/suits/spade.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-container {
    display: flex;
    justify-content: center;
}

.label {
    font-weight: 700;
    font-size: 1.5rem;
}

#player-currentMoney {
    margin-bottom: 1.1125em;
}

#betting-amount {
    margin-bottom: 1.1125em;
}

.input-btn {
    padding: 0.25em 1em;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.250);
    color: white;
    border: none;
    border-radius: 10px;
}

.input-btn:hover {
    background-color: rgba(0, 0, 0, 0.50);
}

.input-btn:active {
    background-color: rgba(0, 0, 0, 0.85);    
}

.money-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.money-row {
    display: flex;
    justify-content: space-between;
    /* outline: 2px solid red; */
    padding-bottom: 3.5em;
}

/* Container for my stacks */

.chip-stack {
    position: relative;
    padding-right: 3.5em;
    /* outline: 2px solid red; */
}

/* Use SVGs. They look much better and are crisper */

.chip {
    position: absolute;
    width: 55px;
    height: 55px;
}

.chip_10 {
    background-image: url('./assests/imgs/10.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.chip_20 {
    background-image: url('./assests/imgs/20.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.chip_50 {
    background-image: url('./assests/imgs/50.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.chip_100 {
    background-image: url('./assests/imgs/100.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Positions to make stacks */

.chip_1 {
    top: 0px;
}

.chip_2 {
    top: -3px;
}

.chip_3 {
    top: -6px;
}

.chip_4 {
    top: -9px;
}

.chip_5 {
    top: -12px;
}

.chip_6 {
    top: -15px;
}

.chip_7 {
    top: -18px;
}

.chip_8 {
    top: -21px;
}

/* 

This is going to be how I do everything for desktop.
The game needs to be mobile first

*/

/* Should start to transition into tablet like game */
@media(min-width: 600px) {
    .label {
        font-size: 2rem;
    }  
}

@media(min-width: 768px) {
    .label {
        font-size: 2rem;
    }  
}

/* 
    Should become desktop like game
*/
@media(min-width: 850px) {

    header {
        margin-bottom: 1.5em;
    }

    .table {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
        /* Original height was 500px, but changed */
        width: 800px;
        height: 600px;
        /* Makes it where the table can not get smaller than this */
        min-width: 800px;
        min-height: 600px;
        /* 
            TODO: A gradiant with a hard stop in the middle at a 
            45 degree angle to it really look like a table at the corners
        */
        background-color: rgb(104, 72, 12);
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
    }

    .border {
        width: 95%;
        height: 93%;
        background-color: rgb(0, 105, 0);
        border-radius: 5px;
    }

    .surface {
        border-radius: 5px;
    }

    /* 
    
        TODO: Add button container here under player money
    */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas: "game-rules dealer-cards dealer-cards deck" 
                             "player-bet middle-of-board middle-of-board player-money" 
                             "player-bet player-cards player-cards button-area";
        padding: 0.75em 0.75em;
    }
    
    .game-rules {
        grid-area: game-rules;
    }
    
    .dealer-cards {
        grid-area: dealer-cards;
    }
    
    .deck {
        grid-area: deck;
    }
    
    .player-bet {
        grid-area: player-bet;
        /* display: flex;
        align-items: center;
        justify-content: flex-start; */
    }
    
    .middle-of-board {
        grid-area: middle-of-board;
    }
    
    .player-cards {
        grid-area: player-cards;
    }
    
    .player-money {
        grid-area: player-money;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        /* Should keep all of the content closer to the player's side
           if something is added to it (e,g, more chips even though this 
           should not happen)
        */
        justify-content: end;
    }

    .btns {
        /* 
            FIXME: Moves the buttons container in the bottom order
            this is only for debugging purposes.
        */
        order: 2;
        margin-top: 1.5rem;
        display: none;
    }

    .label {
        font-size: 2rem;
    }

}

@media(min-width: 1140px) {

}